.content h2{
    text-align: center;
    font-size: 1.75rem;
    padding: 16px;
}
.content h3{
    font-size: 1.25rem;
    padding: 16px;
}
.content p{
    padding: 0 16px;
    padding-bottom: 16px;
    text-indent: 32px;
    text-align: justify;
    text-justify: inter-word;
}
.brand-title {
    font-size: 4rem;
    color: white;
    text-shadow: 0px 0px 4px #3c3c3c;
    height: 45vh;
    background-image: url('../images/background/connectwork.png');
    background-position: center;
    display: flex;
}

.content .section-title{
    font-size: 3rem;
}
.link:hover{
    color: #3c3c3c;
}

.bg-portfolio-dicebag{
    background-image: url('../images/portfolio/DiceBag.png');
}
.bg-portfolio-essentials{
    background-image: url('../images/portfolio/essentals.png');
}
.bg-portfolio-giphy{
    background-image: url('../images/portfolio/Giphy.png');
}
.bg-portfolio-getout{
    background-image: url('../images/portfolio/GetOut.png');
}
.bg-portfolio-rpg{
    background-image: url('../images/portfolio/RPG.png');
}
.bg-portfolio-hangman{
    background-image: url('../images/portfolio/Hangman.png');
}
.bg-portfolio-bootstrap{
    background-image: url('../images/portfolio/bootstrap.png');
}
.bg-portfolio-html{
    background-image: url('../images/portfolio/HTML.png');
}

[class*="bg-portfolio-"] {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: 70px;
}